<p>
{% capture catstr %}{{ post.categories }}/{% endcapture %}{% capture imagePath %}{{ post.date | date: "%Y-%m-%d" }}-{{ post.url | remove_first: catstr  | replace: "/","-" | slugify }}/{{ include.name }}{% endcapture %}
{% if include.caption %}
    <figure>
        <img style="float: left;" src="/assets/posts/{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
        <figcaption>{{ include.caption }}</figcaption>
    </figure>
{% else %}
    <img src="/assets/posts/{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
{% endif %}
</p>

