<div id="mmsocial"> 
  <ul>
    <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://m.mourshed.org{{ include.url }}&title={{ include.title }}&source={{ include.title }}">
        <i class="fa fa-linkedin-square"></i> 
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/dialog/share?app_id=1712485889075298&display=popup&href=http://m.mourshed.org{{ include.url }}&display=popup&amp;caption={{ page.summary | escape | markdownify | strip_html | strip_newlines | truncate: 300 }}&redirect_uri=http://m.mourshed.org{{ include.url }}">

        <!--<a href="https://www.facebook.com/sharer.php?u={{ site.url }}/{{ page.url }}&title={{ page.title }}" title="Share on Facebook" target="_blank">

        <a href="https://www.facebook.com/dialog/feed?
  app_id=145634995501895
  &display=popup&amp;caption=An%20example%20caption 
  &link=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F
  &redirect_uri=https://developers.facebook.com/tools/explorer">-->

        <i class="fa fa-facebook-square"></i> 
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url=http://m.mourshed.org{{ include.url }}&hl=en-US" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <i class="fa fa-google-plus-square"></i> 
      </a>
    </li>
  </ul>
</div>
<br>
