<div id="postsocial"> 
  <ul>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ include.url }}&title={{ include.title }}&source={{ include.title }}"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a href= "https://www.facebook.com/dialog/feed?app_id=1712485889075298&redirect_uri={{ site.url }}{{ page.url }}&display=popup
&link={{ site.url }}{{ page.url }}&picture={{ site.url }}/assets/{{ page.image }}&caption={{ page.author }}&title={{ page.title }}&description={{ page.summary | escape | markdownify | strip_html | strip_newlines | truncate: 300 }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="https://plus.google.com/share?url={{ site.url }}{{ include.url }}&hl=en-US" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus-square"></i></a></li>
    <li>{% assign tagwords = page.tags | escape | join: ',' | escape %}{% assign words = tagwords | split: ' ' %}{% capture capitalizedtags %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}<a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&hashtags={{ capitalizedtags | replace: " ", "" }}&text={{ page.summary | escape | markdownify | strip_html | strip_newlines | truncate: 160, "" }}"><i class="fa fa-twitter-square"></i></a></li>
  </ul>
</div>
<br>
